<nav id="navigation" class="header-items container">
    <div class="header-items__logo">
        <img class="website-logo" src="../img/logo_7studio.svg" alt="Logo 7Studio">
    </div>
    <!-- <div class="header-items__burger">
        <button class="burger-menu">
            <span class="burger-menu__inner">
                <span class="burger-menu__line"></span>
                <span class="burger-menu__line"></span>
                <span class="burger-menu__line"></span>
            </span>
        </button>
    </div> -->
    <div class="header-items__menu">
        <ul class="header-items__menu-list">
            <li><a href="#">7 Studio</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </div>
    <div class="header-items__socialbar">
        <a href="https://www.facebook.com/" class="header-items__socialbar-fb"><img class="icons-media__header"
                src="../img/icons_header/facebook-icon-final.png" alt="Icon facebook"></a>
        <a href="https://www.instagram.com/" class="header-items__socialbar_insta"><img
                src="../img/icons_header/insta-icon-final.png" alt="Icon instagram" class="icons-media__header"></a>
        <a href="https://www.youtube.com/" class="header-items__socialbar_youtube"><img
                src="../img/icons_header/youtube-icon-final.png" alt="Icon youtube" class="icons-media__header"></a>
    </div>

</nav>