<section class="viev-portfolio">
    <div class="wrapper-portfolio">
        <div class="container">
            <div class="viev-portfolio__content">
                <h1 class="viev-portfolio__content-title">7 Studio</h1>
                <div class="divider-component"></div>
                <p class="viev-portfolio__content-description">We create modern spaces to appeal, inspire, and preserve
                    the best in architecture.</p>
                <div class="viev-portfolio__btn button-blue">
                    <a href="#">VIEW PORTFOLIO</a>
                    <span class="viev-portfolio__btn-icon"><img src="img/plus-solid-white.svg" alt="Button icon"></span>
                </div>
            </div>
        </div>
    </div>
</section>